<style media="screen">
  body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
  }

  h2 {
    color: blueviolet;
  }

  ul {
    list-style-type: none;
  }

  li,
  p {

    line-height: 1em
  }

  hr {
    width: 25px
  }
</style>

<h2>Great Choice:</h2>

<ul>

  <li> {{name}}
    <p>${{price}}</p>
    <p>Rating: {{awesomeness}}</p>
  </li>
  <hr>
</ul>