<!-- 5. Output the animalType string, pet boolean, and fierceness number to the page for all the pets. -->

<style media="screen">
  body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
  }
</style>

{{#each animals}}
<h2>{{animalType}}</h2>
<p>This animal has a rating of {{fierceness}} fierceness</p>
<p>Is a pey? {{pet}}</p>
{{/each}}